<mat-card class="login-form">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter username</mat-label>
                    <input matInput [formControl]="username">
                    <div *ngIf="username.invalid && username.dirty || username.touched">
                        <mat-error *ngIf="username.errors?.['required']">
                            Username is required
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter password</mat-label>
                    <input matInput [formControl]="password" 
                        [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" >
                        <mat-icon>
                            {{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </button>
                    <div *ngIf="password.invalid && password.dirty || password.touched">
                        <mat-error *ngIf="password.errors?.['required']">
                            Password is required
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>
            
            <mat-card-actions>
                <button mat-flat-button color='primary'
                    matTooltip='Click to login' [disabled]="myForm.invalid"
                    (click)="onSubmit()">
                    Login
                </button>
                <button mat-button matTooltip='Cancel login' 
                    (click)="navigateToBack()">
                    Cancel
                </button>
            </mat-card-actions>
        </mat-card-content>
    </form>
</mat-card>
